<div class="top-tagbar">
    <div class="w-100">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-auto col-9">
                <div class="text-white-50 fs-13"><i class="bi bi-clock align-middle me-2"></i> <span id="current-time"></span></div>
            </div>
            <div class="col-md-auto col-6 d-none d-lg-block">
                <div class="d-flex align-items-center justify-content-center gap-3 fs-13 text-white-50">
                    <div><i class="bi bi-envelope align-middle me-2"></i> support@themesbrand.com</div>
                    <div><i class="bi bi-globe align-middle me-2"></i> www.themesbrand.com</div>
                </div>
            </div>
            <div class="col-md-auto col-3">
                <div dropdown class="dropdown topbar-head-dropdown topbar-tag-dropdown justify-content-end">
                    <button dropdownToggle type="button" class="btn btn-icon btn-topbar rounded-circle text-white-50 fs-13">
                        <img *ngIf="flagvalue != undefined" id="header-lang-img" src="{{flagvalue}}" alt="Header Language" height="16" class="rounded-circle me-2" />
                        <img *ngIf="flagvalue == undefined" id="header-lang-img" src="{{valueset}}" alt="Header Language" height="16" class="rounded-circle me-2" />
                        <span id="lang-name">{{countryName}}</span>
                    </button>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" *ngFor="let item of listLang" (click)="setLanguage(item.text, item.lang, item.flag)" title="English">
                            <img src="{{item.flag}}" alt="user-image" class="me-2 rounded-circle" height="18" />
                            <span class="align-middle">{{item.text}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
