<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Room" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-sm-4">
                        <div class="search-box">
                            <input type="text" class="form-control" id="searchMemberList"
                                placeholder="Search for room number.." [(ngModel)]="service.searchTerm" />
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto ms-auto">
                        <div class="list-grid-nav hstack gap-1">
                            <button class="btn btn-info addMembers-modal" (click)="addmemberModal.show()"><i
                                    class="ri-add-fill me-1 align-bottom"></i> Add Members</button>
                            <button type="button" class="btn btn-soft-primary btn-icon fs-14"><i
                                    class="ri-grid-fill"></i></button>
                            <button type="button" class="btn btn-soft-primary btn-icon fs-14"><i
                                    class="ri-list-unordered"></i></button>
                            <div dropdown>
                                <button dropdownToggle type="button" id="dropdownMenuLink1"
                                    class="btn btn-soft-secondary btn-icon fs-14">
                                    <i class="ri-more-2-fill"></i>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">All</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Last Month</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Last Year</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row" id="team-member-list">
    <div *ngFor="let data of teamlists;let i = index;" class="col-xxl-3 col-md-6">
        <div class="card team-box">
            <div class="card-body p-4 m-2">
                <div class="row mb-4 pb-2">
                    <div class="col">
                        <div class="flex-shrink-0 me-2">
                            <button type="button"
                                class="btn btn-outline-warning custom-toggle rounded-circle btn-icon btn-sm"
                                [ngClass]="data.star == true?'active':''">
                                <span class="icon-on"><i class="ri-star-line fs-14"></i></span>
                                <span class="icon-off"><i class="ri-star-fill fs-14"></i></span>
                            </button>
                        </div>
                    </div>
                    <div dropdown class="col text-end dropdown">
                        <a dropdownToggle href="javascript:void(0);"> <i class="ri-more-fill fs-17"></i> </a>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item edit-list" href="javascript:void(0);" (click)="editData(i)"><i
                                        class="ri-pencil-line me-2 align-bottom text-muted"></i>Edit</a>
                            </li>
                            <li>
                                <a class="dropdown-item remove-list" href="javascript:void(0);"
                                    (click)="removeData(i)"><i
                                        class="ri-delete-bin-5-line me-2 align-bottom text-muted"></i>Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-center mb-4">
                    <div class="avatar-md mx-auto"><img src="{{data.img}}" alt=""
                            class="member-img img-fluid d-block rounded-3" /></div>
                </div>
                <div class="text-center mb-4 pb-3">
                    <a href="javascript:void(0);" class="member-name" (click)="openDetail(i)"
                        data-bs-toggle="offcanvas">
                        <h5 class="fs-17">{{data.name}}</h5>
                    </a>
                    <p class="text-muted mb-4">{{data.roomno}}</p>
                    <div class="d-none member-guesid">{{data.guesid}}</div>
                    <div class="d-none member-accesstoken">{{data.accesstoken}}</div>
                    <span class="badge badge-soft-success member-designation">{{data.occupied}}</span>
                </div>

                <div class="row text-muted text-center mt-4">
                    <div class="col-4 border-end border-end-dashed">
                        <p class="text-muted mb-0">Checkin</p>
                         <p>{{ data.checkin | dateTimeAgo }}</p>


                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <p class="text-muted mb-0">Checkout</p>
                        <h5 class="mb-1 projects-num">{{data.checkout}}</h5>
                    </div>
                    <div class="col-4">
                        <p class="text-muted mb-0">Devices</p>
                        <h5 class="mb-1 tasks-num">{{data.devices?data.devices.length:0}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end row-->

<div class="row g-0 justify-content-end mb-4" id="pagination-element">
    <!-- end col -->
    <div class="col-sm-6">
        <pagination
            class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0"
            [totalItems]="8"></pagination>
    </div>
    <!-- end col -->
</div>
<!-- end row -->


<!-- Modal -->
<div bsModal #addmemberModal="bs-modal" class="modal fade" id="addmemberModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header p-4 pb-0">
                <h5 class="modal-title" id="createMemberLabel">Add New Member</h5>
                <button type="button" class="btn-close" id="createMemberBtn-close"
                    (click)="addmemberModal.hide()"></button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="memberForm" (ngSubmit)="saveMember()" autocomplete="off" id="memberlist-form"
                    class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" id="memberid-input" class="form-control" value="" />
                            <div class="text-center mb-4">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute top-100 start-100 translate-middle">
                                        <label for="member-image-input" class="mb-0" placement="right"
                                            tooltip="Select Member Image">
                                            <div class="avatar-xs">
                                                <div
                                                    class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control d-none" value="" id="member-image-input" type="file"
                                            accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)" />
                                    </div>
                                    <div class="avatar-lg">
                                        <div class="avatar-title bg-light rounded-3">
                                            <img src="assets/images/users/user-dummy-img.jpg" id="member-img"
                                                class="avatar-md rounded-3 h-auto" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="teammembersRoomno" class="form-label">Roomno</label>
                                <input type="text" class="form-control" id="teammembersRoomno" placeholder="Enter room number"
                                    formControlName="roomno" required />
                                <div class="invalid-feedback">Please Enter a member room number.</div>
                            </div>

                            <div class="mb-4">
                                <label for="occupied" class="form-label">Occupied</label>
                                <input type="text" class="form-control" id="occupied" placeholder="Enter status"
                                formControlName="occupied" required />
                                <div class="invalid-feedback">Please Enter a status.</div>
                            </div>

                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light"
                                    (click)="addmemberModal.hide()">Close</button>
                                <button type="submit" class="btn btn-success" id="addNewMember">Add Member</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--end modal-content-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end modal-->

<ngx-aside #memberOverview [position]="'right'" [showOverlay]="true" [showDefaultHeader]="false"
    [showDefaultFooter]="false" [closeOnEscape]="true" class="offcanvas-end border-0" tabindex="-1"
    id="member-overview">
    <!--end offcanvas-header-->
    <div *ngIf="teammember" class="offcanvas-body profile-offcanvas p-0">
        <div class="p-3">
            <div class="team-settings">
                <div class="row">
                    <div class="col">
                        <div class="bookmark-icon flex-shrink-0 me-2">
                            <input type="checkbox" id="favourite13" class="bookmark-input bookmark-hide" />
                            <label for="favourite13" class="btn-star">
                                <svg width="20" height="20">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="col text-end dropdown">
                        <a href="javascript:void(0);" id="dropdownMenuLink14" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="ri-more-fill fs-17"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink14">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);"><i
                                        class="ri-eye-line me-2 align-middle"></i>View</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);"><i
                                        class="ri-star-line me-2 align-middle"></i>Favorites</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);"><i
                                        class="ri-delete-bin-5-line me-2 align-middle"></i>Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <div class="p-3 text-center">
            <img src="{{teammember.img}}" alt="" class="avatar-lg img-thumbnail rounded-4 mx-auto profile-img" />
            <div class="mt-3">
                <h5 class="fs-15 profile-name">{{teammember.roomno}}</h5>
            </div>
            <div class="hstack gap-2 justify-content-center mt-4">
                <div class="avatar-xs">
                    <a href="javascript:void(0);" class="avatar-title bg-secondary-subtle text-secondary rounded fs-16">
                        <i class="ri-facebook-fill"></i>
                    </a>
                </div>
                <div class="avatar-xs">
                    <a href="javascript:void(0);" class="avatar-title bg-success-subtle text-success rounded fs-16">
                        <i class="ri-slack-fill"></i>
                    </a>
                </div>
                <div class="avatar-xs">
                    <a href="javascript:void(0);" class="avatar-title bg-info-subtle text-info rounded fs-16">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                </div>
                <div class="avatar-xs">
                    <a href="javascript:void(0);" class="avatar-title bg-danger-subtle text-danger rounded fs-16">
                        <i class="ri-dribbble-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-0 text-center bg-light">
            <div class="col-6">
                <div class="p-3 border border-dashed border-start-0">
                    <h5 class="mb-1 profile-project">{{teammember.checkin}}</h5>
                    <p class="text-muted mb-0">Checkin</p>
                </div>
            </div>
            <!--end col-->
            <div class="col-6">
                <div class="p-3 border border-dashed border-start-0">
                    <h5 class="mb-1 profile-task">{{teammember.checkout}}</h5>
                    <p class="text-muted mb-0">Checkout</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="p-3">
            <h5 class="fs-15 mb-3">Personal Details</h5>
            <div class="mb-3">
                <p class="text-muted text-uppercase fw-semibold fs-12 mb-2"><i
                        class="ri-phone-fill align-middle fs-14 me-1"></i> Number</p>
                <h6 class="profile-contact">+{{teammember.contact}}</h6>
            </div>
            <div class="mb-3">
                <p class="text-muted text-uppercase fw-semibold fs-12 mb-2"><i
                        class="ri-mail-open-fill align-middle fs-14 me-1"></i> Email</p>
                <h6 class="profile-email">{{teammember.email}}</h6>
            </div>
            <div>
                <p class="text-muted text-uppercase fw-semibold fs-12 mb-2"><i
                        class="ri-map-pin-fill align-middle fs-14 me-1"></i> Location</p>
                <h6 class="mb-0">Carson City - USA</h6>
            </div>
        </div>
        <div class="p-3 border-top">
            <h5 class="fs-15 mb-4">File Manager</h5>
            <div class="d-flex mb-3">
                <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-danger-subtle text-danger rounded fs-16">
                        <i class="ri-image-2-line"></i>
                    </div>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1"><a href="javascript:void(0);">Images</a></h6>
                    <p class="text-muted mb-0">4469 Files</p>
                </div>
                <div class="text-muted">12 GB</div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-secondary-subtle text-secondary rounded fs-16">
                        <i class="ri-file-zip-line"></i>
                    </div>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1"><a href="javascript:void(0);">Documents</a></h6>
                    <p class="text-muted mb-0">46 Files</p>
                </div>
                <div class="text-muted">
                    3.46 GB
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-success-subtle text-success rounded fs-16">
                        <i class="ri-live-line"></i>
                    </div>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1"><a href="javascript:void(0);">Media</a></h6>
                    <p class="text-muted mb-0">124 Files</p>
                </div>
                <div class="text-muted">
                    4.3 GB
                </div>
            </div>
            <div class="d-flex">
                <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-primary-subtle text-primary rounded fs-16">
                        <i class="ri-error-warning-line"></i>
                    </div>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1"><a href="javascript:void(0);">Others</a></h6>
                    <p class="text-muted mb-0">18 Files</p>
                </div>
                <div class="text-muted">
                    846 MB
                </div>
            </div>
        </div>
    </div>
    <!--end offcanvas-body-->
    <div class="offcanvas-foorter border p-3 hstack gap-3 text-center position-relative">
        <button class="btn btn-light w-100"><i class="ri-question-answer-fill align-bottom ms-1"></i> Send
            Message</button>
        <a routerLink="/pages/profile" class="btn btn-primary w-100"><i class="ri-user-3-fill align-bottom ms-1"></i>
            View Profile</a>
    </div>
</ngx-aside>
<!--end offcanvas-->

<!-- start delete modal -->
<div bsModal #removeMemberModal="bs-modal" id="removeMemberModal" class="modal fade zoomIn" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="removeMemberModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <!-- <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                        colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon> -->
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this member ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="removeMemberModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-item" (click)="deleteRecord()">Yes,
                        Delete It!</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--end delete modal -->
